#name::placeholder{
    background-image: url("/images/Person.png");
    background-repeat: no-repeat;
}

#email::placeholder{
    background-image: url("/images/mail.png");
    background-repeat: no-repeat;
}

.inputContainer::after{
    content: attr("Please fill this mandatory field");
    color: #E02424;
}