.menuItems{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #696969;
    align-items: center;
    min-height: 7vh;
}

.menuItems img{
    margin-right: auto;
    margin-left: 5vw;
}

.menuItems li{
    width: auto;
    height: 21px;
    margin-right: 5vw;
    text-align: center;
}

#currentPage{
    color: #7E3AF2;
}

#separator{
    width: 100%;
    border: 1px solid #E5E7EB;
}
