.menuItems{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #696969;
    align-items: center;
    min-height: 7vh;
}

.menuItems img{
    margin-right: auto;
    margin-left: 5vw;
}

.menuItems li{
    width: auto;
    height: 21px;
    margin-right: 5vw;
    text-align: center;
    cursor: pointer;
}

#currentPage{
    color: #7E3AF2;
}

#separator{
    width: 100%;
    border: 1px solid #E5E7EB;
}

.burgerLine1{
    top: 0;
    transition: .3s all linear;
}

.burgerLine2, .burgerLine3{
    top: 50%;
    transform: translateY(-50%);
    transition: .3s all linear;
}

.burgerLine4{
    bottom: 0%;
    transition: .3s all linear;
}

.burgerActive .burgerLine1, .burgerActive .burgerLine4{
    opacity: 0;
    transition: .3s all linear;
}

.burgerActive .burgerLine2{
    transform: rotate(45deg);
    transition: .3s all linear;
}

.burgerActive .burgerLine3{
    transform: rotate(-45deg);
    transition: .3s all linear;
}